* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: #f4f4f4;
    padding: 40px;
}

.container {
    max-width: 500px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 6px;
}

h1 {
    text-align: center;
}

.input-group {
    display: flex;
    gap: 10px;
}

input {
    flex: 1;
    padding: 8px;
}

button {
    padding: 8px 14px;
    cursor: pointer;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    cursor: pointer;
}

.completed {
    text-decoration: line-through;
    color: rgb(246, 20, 20);
}
li button {
    margin-left: 6px;
}
